#spin{
    text-align: center;
    
}
#offline{
    text-align:center;
    p{
        font: 2.4rem;
    }
}


.headers{
    text-align: center;
    border: solid 3px ;
    
    
   h2{
       font-size: 2.4em;
       padding: 0px;
       margin: 1%;
       
   }
    
}
.food{
    padding: 2% 0px 4% 0px;
    border: solid 3px;
    border-top: 0px;
    p{
    padding: 0px;
    margin: 0px;
    font-size: 1.4em;
    
    
    }
}


.day{
     text-align: center;
     font-weight: bold;
}
.dish{
     text-align: center;
     
     font-size: 1.25rem;
}




