<ion-header>
  <ion-navbar>
    <ion-title>Home - Latest News</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class='scroll-content'>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf = 'offlineOnLoad; else onlineOnLoad' class='offlineErr'>
    <h3>No Internet connection was detected. Please reconnect to see the latest news.</h3>
    <h2><ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon></h2>
    
  </div>
  
   <ng-template #onlineOnLoad>
    <div class='title'>
        <h3 *ngIf='!showSpin' ><ion-icon ios='ios-information-circle-outline' md='md-information-circle' color='primary'></ion-icon></h3>
        <ion-spinner *ngIf='showSpin' ios='ios' md='circles'></ion-spinner>
    </div>
    <ion-card *ngFor='let post of posts'>
      <ion-card-header><strong>{{ post.split("|")[2] }}</strong></ion-card-header>
      <div *ngIf='post.split("|")[1].length > 170; else fullOnlineText' class='content'>
        <ion-card-content >{{  post.split("|")[1].substring(0,170)  }}... </ion-card-content>
      </div>
      <ng-template #fullOnlineText class='content'> <ion-card-content>{{  post.split("|")[1]  }}</ion-card-content> </ng-template>
      <div id='postimg'>
          <img [src]='post.split("|")[0]'>
      </div>
      </ion-card>
    </ng-template>
 
</ion-content>




